/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1da1f2;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

header h1 {
    font-size: 2rem;
}

.menu {
    background-color: #1da1f2;
    padding: 0.5rem;
    text-align: center;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-right: 1rem;
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 5px;
}

.menu a:hover {
    background-color: #0c8de6;
}

footer {
    background-color: #1da1f2;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

/* Estilo específico para la página de proyectos */
.projects {
    background-color: #fff;
    padding: 1rem;
}

.projects h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.projects p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.projects h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.projects ul {
    list-style-type: square;
    margin-left: 1rem;
}

/* Agregar otros estilos específicos para las demás páginas si es necesario */
